.brand {
  @apply font-display font-bold tracking-tight text-2xl flex items-center;
  
  @media (max-width: 767px) {
    font-size: 2rem;
    line-height: 3rem;
  }
  
  &.hasShadow {
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    
    .suffix {
      text-shadow: 0 2px 10px rgba(255, 255, 255, 0.4);
    }
  }
}
.name {
  @apply text-light-gray;
}
.suffix {
  @apply text-jet-black ml-1;
}
.dot {
  @apply text-accent-red;
}
